PORT=4000
SAAVN_URL=http://localhost:3000
PRINCE_API=https://api.princetechn.com/api/download/ytmp3
PRINCE_KEY=
GIFTED_SPOTIFY_SEARCH=https://api.giftedtech.co.ke/api/search/spotifysearch
GIFTED_KEY=
SPOTIFY_DL=https://apis.davidcyril.name.ng/spotifydl
SPOTIFY_DL2=https://apis.davidcyril.name.ng/spotifydl2
GENIUS=
LASTFM_KEY=
